{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">


<head>
     <meta charset="utf-8" />
     <meta http-equiv="x-ua-compatible" content="ie=edge" />
     <title>mygadgets</title>
     <meta name="description" content="" />
     <meta name="viewport" content="width=device-width, initial-scale=1" />

     <link rel="stylesheet" href="{% static 'userAddon/css/bootstrap.min.css' %}" />
     <link rel="stylesheet" href="{% static 'userAddon/css/LineIcons.3.0.css' %}" />
     <link rel="stylesheet" href="{% static 'userAddon/css/tiny-slider.css' %}" />
     <link rel="stylesheet" href="{% static 'userAddon/css/glightbox.min.css' %}" />
     <link rel="stylesheet" href="{% static 'userAddon/css/main.css' %}" />
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
          integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <style>
          /* Chrome, Safari, Edge, Opera */
          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
               -webkit-appearance: none;
               margin: 0;
          }

          /* Firefox */
          input[type=number] {
               -moz-appearance: textfield;
          }
     </style>
</head>
{% include "userTempl/header.html" %}


{% load crispy_forms_tags %}




<div class="d-flex justify-content-center flex-column mt-5 align-items-center mb-5 p-md-5">
     <form method="post" action="{{url}}" novalidate>
          {% csrf_token %}
          <div class="container ">
               <h4 class="text-center">Enter the OTP sent to your mobile number</h4>
               <p class="text-danger">{{err}}</p>
               {{form|crispy}}
               <p id="err-otp" class="text-danger"></p>
               <button type="submit" class="btn bg-primary w-100 text-light" id="numb">submit</button>
          </div>
     </form>

     <form class="mt-2">
          {% csrf_token %}
          <div class=" d-flex justify-content-end ">
               <button type="button" class="btn bg-light text-dark w-100 text-light" id="customise-resend">resend otp
                    in  &nbsp;<span id="timer"></span> </button>
               <button value="{{number}}" type="button" class="btn bg-primary text-light w-100 " id="resend">resend
                    otp</button>
          </div>
     </form>



</div>




<script>

     function checkValid(id) {
          num = $(id).val()
          if (/^\d+$/.test(num) == false) {
               let sub = num.substring(0, num.length - 1)
               $(id).val(sub)
          }
     }

     $("#otpField").on("keyup input", function () {
          console.log('/')
          checkValid("#otpField")
     })



</script>

<script>
     $("#resend").hide()
     var min = 0
     var sec = 30
     function refresh() {

          if (sec == 0 && min >= 1) {
               min = min - 1
               sec = 59
          }
          if (sec != 0) {
               setTimeout(refresh, 1000)
               sec -= 1
               $("#timer").html('   0' + min + ' : ' + sec)
          } else {
               $("#customise-resend").hide()
               $("#resend").show()
          }
     }
     refresh()


     $("#resend").click(() => {



          var data = {
               num: $("#resend").val(),
          };
          $.ajax({
               url: "/resendotp",
               method: "GET",
               data: data,
               dataType: "json",
               success: function (data) {
                    if (data.status) {

                         $("#customise-resend").show()
                         $("#resend").hide()
                         sec = 30
                         refresh()

                    } else {
                         alert("failed");
                    }
               },
          });



     })




</script>



{% include 'userTempl/footer.html' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
     integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
     crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<a href="#" class="scroll-top">
     <i class="lni lni-chevron-up"></i>
</a>
<style>
     .errorlist li {
          color: red;
     }
</style>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{% static 'userAddon/js/bootstrap.min.js' %}"></script>
<script src="{% static 'userAddon/js/tiny-slider.js' %}"></script>
<script src="{% static 'userAddon/js/glightbox.min.js' %}"></script>
<script src="{% static 'userAddon/js/main.js' %}"></script>

</body>

</html>