{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>mygadgets</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'userAddon/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'userAddon/css/LineIcons.3.0.css' %}" />
    <link rel="stylesheet" href="{% static 'userAddon/css/tiny-slider.css' %}" />
    <link rel="stylesheet" href="{% static 'userAddon/css/glightbox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'userAddon/css/main.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">



    <style>
        .swal2-cancel {
            margin-right: 1rem !important;
        }

        #main-row div {
            display: flex;
            align-items: center;
        }

        @media only screen and (max-width: 727px) {
            #main-row div {
                justify-content: center;
            }
        }
    </style>

</head>

<body>

    <!-- ========================== hreader start ========================== -->
    {% include 'userTempl/header.html' %}
    <!-- ========================== hreader end ========================== -->


    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Whishlist</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/"><i class="lni lni-home"></i> Home</a></li>
                        <li>Whishlist</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>






    <section class="container mb-3 ">
        <div class="row">
            <!-- ========================== list all the product user added into whishlist end ========================== -->

            {% for i in items %}

            <div class="col-md-4" id="wishlist-div{{i.id}}">

                <div class="single-product">
                    <div class="product-image">
                        <a href="/eachproduct?p_id={{i.product_variant.product_id.id}}"
                            class="d-flex justify-content-center">
                            <img src="{{i.product_variant.product_id.img1.url}}" alt="#" style="width: 7rem;">
                            {% if i.product_variant.product_id.offer > i.product_variant.product_id.brand_id.c_id.offer%}
                            <span class="sale-tag">-{{i.product_variant.product_id.offer}}%</span>
                            {% elif i.product_variant.product_id.offer < i.product_variant.product_id.brand_id.c_id.offer %} 
                            <span class="sale-tag">-{{i.product_variant.product_id.offer}}%</span>
                            <span class="sale-tag">-{{i.product_variant.product_id.brand_id.c_id.offer}}%</span>
                            {% endif %}
                        </a>
                    </div>
                    <div class="product-info">
                        <h4 class="title">
                            <a>
                                {{i.product_variant.product_id.brand_id.brand_name}}
                                {{i.product_variant.product_id.product_name}} ({{i.product_variant.variant}}GB RAM)
                            </a>
                        </h4>
                        <div class="price">
                            <span>₹{{i.product_variant.final_price}}</span>
                            <span class="discount-price">
                                {% if i.product_variant.price == i.product_variant.final_price %}
                                {% else %}
                                {{i.product_variant.price}}
                                {% endif %}
                            </span>
                        </div>
                        <div class="d-flex text-danger mt-1">
                            {% if i.product_variant.quantity %}
                            <h6>Quantity left : {{i.product_variant.quantity}}</h6>
                            {% else %}
                            out of stock
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn bg-danger text-light" onclick="RemoveFromWhishlist({{i.id}})">
                                remove
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            {% endfor %}

            <!-- ========================== list all the product user added into whishlist end ========================== -->

        </div>

    </section>





    {% include 'userTempl/footer.html' %}


    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'userAddon/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'userAddon/js/tiny-slider.js' %}"></script>
    <script src="{% static 'userAddon/js/glightbox.min.js' %}"></script>
    <script src="{% static 'userAddon/js/main.js' %}"></script>
    <script src="{% static 'userAddon/js/addToCart.js' %}"></script>

<!-- ====================== remove item whishlisst start ====================== -->
    <script>
        function RemoveFromWhishlist(id) {
            var data = {
                vari_id: id,
            };
            $.ajax({
                url: "/removefromwhishlist",
                method: "GET",
                data: data,
                dataType: "json",
                success: function (data) {
                    if (data.status) {
                        $("#wishlist-div" + id).remove()
                        $("#whishlist_count").html(data.whishlist_count)

                        const Toast = Swal.mixin({
                            toast: true,
                            position: "top",
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener("mouseenter", Swal.stopTimer);
                                toast.addEventListener("mouseleave", Swal.resumeTimer);
                            },
                        });
                        Toast.fire({
                            icon: "success",
                            title: "Item removed form whishlist",
                        });
                    }
                },
            });
        }
    </script>
<!-- ====================== remove item whishlisst start ====================== -->

</body>


</html>