{% extends "adminTempl/main.html" %} {% block content %}

<div class="container">
     <div class="d-flex align-items-center" style="height: 100vh;">
          <form method="post" action="/admin_side/admin_login/" novalidate class="col-12">
               {% csrf_token %}
               <h1 class="text-center">Admin Login</h1>
               <h3 class="text-danger">{{err}}</h3>

               {{form}}

               <button type="submit" class="btn bg-primary w-100 text-light">submit</button>
          </form>
     </div>

</div>



<style>
     ul {
          list-style: none;
          color: red;
     }
</style>

{% endblock %}